@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Condensed');

header{
	font-family: 'Roboto Slab';
	font-size: 20pt;
	font-weight: bold;
	color: #ffffff;
}

li {
	word-spacing: 5px;
}

.dws-menu *{
 margin: 0;
 padding: 0;
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: center;
}
.dws-menu > ul li{
 position: relative;
 border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li:first-child{
 border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
 border-right: 1px solid #babbbd;
}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
.dws-menu > ul li a{
 display: block;
 padding: 58px 30px 58px 40px;
 color: #ffffff;
 text-shadow: 1px 1px 0px #000000;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 color: #696969;
 text-shadow: 1px 1px 0px #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e4e4e5;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}

.down {
	display: flex;
	justify-content: center;
	background-color: 2a96ff;
	font-family: 'Roboto Slab';
	font-size: 18pt;
	font-weight: bold;
	color: #ffffff;
	padding: 20px;
}

.down a {
	text-decoration: none;
}

.down a:hover {
	text-decoration: underline;
}